<!DOCTYPE html>
<html lang="en" ng-app='cheatsheet'>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
	<script src="js/controllers.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72121019-1', 'auto');
  ga('send', 'pageview');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Markdown Cheat Sheet</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row" style="padding-bottom : 1em">
			<h1 style="text-align : center">Markdown Cheat Sheet</h1>
			<h4 style="text-align : center; font-size : 1em">A Public Service from <a href="http://www.nathanlawrence.org">Nathan Lawrence</a> (<a href="http://www.twitter.com/nathanblawrence">@nathanblawrence</a>)</h4>
		</div>
		<div class="row">
			<div class="col-md-9" ng-controller="MDListing">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Narrow:</span>
					<input type="text" ng-model="query" autofocus class="form-control" placeholder="Search" >
				</div>
				<div class="results" style="padding-top : 1em;">
					<table class="table table-striped table-bordered table-responsive table-hover" style="padding-top : 1em" >
						<thead>
							<tr>
								<th>Type</th>
								<th>In Markdown</th>
								<th class="hidden-phone">Becomes...</th>
							</tr>
						</thead>
						<tr ng-repeat="mdItem in mdItems | filter:query | orderBy:orderField">
							<td>{{mdItem.type}}</td>
							<td><pre>{{mdItem.md}}</pre></td>
							<td class="hidden-phone"><span ng-bind-html="mdItem.html"></span></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-3">
				<p>Markdown is a an easy-to use, lightweight markup language with syntax that maximizes readability and ergonomics while writing and makes publishing for the web super easy. It was created by <a href="https://daringfireball.net/">John Gruber</a> and <a href="http://www.rememberaaronsw.com/memories/">Aaron Swartz</a>, and is now used on thousands of websites and inside some of the world's most popular open source projects.</p>
				<p>This site is designed to make the process of learning Markdown a little easier. Forget how to do something? Just go to <a href="http://www.mdcheatsheet.com">mdcheatsheet.com</a>, start typing what you're looking for, and watch it magically pop up.</p>
			</div>
		</div>
	</div>
</body>
</html>