<!DOCTYPE html>
<html lang="en" ng-app='testing'>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
	<script src="js/controllers.js"></script>
	<meta charset="UTF-8">
	<title>Markdown Cheat Sheet</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row" style="padding-bottom : 1em">
			<h1 style="text-align : center">Markdown Cheat Sheet</h1>
			<h4 style="text-align : center; font-size : 1em">A Public Service from <a href="http://www.nathanlawrence.org">Nathan Lawrence</a> (<a href="http://www.twitter.com/nathanblawrence">@nathanblawrence</a>)</h4>
		</div>
		<div class="row">
			<div class="col-md-9" ng-controller="MDListing">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Narrow:</span>
					<input type="text" ng-model="query" autofocus class="form-control" placeholder="Search" >
				</div>
				<div class="results" style="padding-top : 1em;">
					<table class="table table-striped table-bordered table-responsive table-hover" style="padding-top : 1em" >
						<thead>
							<tr>
								<th>Type</th>
								<th>In Markdown</th>
								<th>Becomes...</th>
							</tr>
						</thead>
						<tr ng-repeat="mdItem in mdItems | filter:query | orderBy:orderField">
							<td>{{mdItem.type}}</td>
							<td><pre>{{mdItem.md}}</pre></td>
							<td><span ng-bind-html="mdItem.html"></span></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-3">

			</div>
		</div>
	</div>
</body>
</html>